@charset "UTF-8";

a {
	text-decoration: none;
	color: #000;
}

#addCustomer h1 {
	text-align: center;
	font-size: 40px;
	margin: 40px auto;
}

#addCustomer_wrap {
	position: relative;
	z-index: 1;
}

#addCustomer_wrap table {
	width: 100%;
	margin: -25px 38%;
}

#addCustomer_wrap th {
	width: 0px;
	height: 62px;
	font-weight: bolder;
}

#addCustomer_wrap td {
	padding-left: 30px;
	width: 250px;
	padding-bottom: 2px;
}

#addCustomer_wrap .errorTxt {
	display: inline-block;
	color: red;
	font-size: 13px;
	width: 300px;
	position: relative;
	left: -79%;
	top: 28px;
}

/* #addCustomer_wrap .errorTxt2 {
	position: relative;
	left: -72%;
} */

#addCustomer_wrap input {
	border-radius: 5px;
	width: 170px;
	height: 28px;
	border: 1px solid #b2d4ad;
	padding: 2px;
	padding-left: 7px;
	position: relative;
	font-size: 12px;
	font-weight: bold;
}

#addCustomer_wrap input:focus {
	outline: #b2d4ad;
	border: 1px solid gray;
}

#addCustomer_btn {
	text-align: center;
	margin-top: 42px;
}

#addCustomer_btn a {
	display: inline-block;
	width: 70px;
	height: 30px;
	background: rgba(255, 255, 255, 0.3);
	line-height: 30px;
	border-radius: 5px;
}

#addCustomer_btn a:hover {
	background: #b2d4ad;
}

#addCustomer label {
	font-weight: bold;
}

#addCustomer_btn #submit {
	cursor: pointer;
	width: 70px;
	height: 30px;
	background: rgba(255, 255, 255, 0.3);
	border: none;
	font-family: 'GowunDodum-Regular';
	font-size: 16px;
}

#addCustomer_btn #submit:hover {
	background: #b2d4ad;
}

input[type="radio"] {
	margin-top: -1px;
	vertical-align: middle;
}

input[type='radio'], input[type='radio']:checked {
	appearance: none;
	width: 24px;
	border-radius: 100%;
	margin-right: 0.1rem;
	margin-top: 10px;
}

input[type='radio'] {
	background-color: #fff;
	border: 1px solid #b2d4ad;
}

input[type='radio']:checked {
	background-color: #b2d4ad;
	border: 1px solid #b2d4ad;
}

#radioBtn input {
	top: -6px;
	width: 20px;
	height: 20px;
	width: 20px;
}

#mbtiBtn {
	background-color: #b2d4ad;
	width: 65px;
	padding: 3px 6px;
	margin-left: 15px;
	border-radius: 5px;
	margin-left: 15px;
	font-size: 15px;
}

#mbtiBtn:hover {
	color: #fff;
	background-color: gray;
}