@charset "UTF-8";

#boardInfoWrap {
	width: 900px;
	margin: 0 auto;
}

#board_title {
	margin: 100px 0 20px;
	padding: 20px;
	border-bottom: 2px solid #f2f2f2;
}

#board_info {
	width: 95%;
	margin: 0 auto;
}

#board_mbti {
	font-weight: bold;
	font-size: 1.3em;
	color: #999;
	margin-right: 20px;
}
#board_level {
	margin-right: 5px;
}
#board_nickName {
	font-size: 1.2em;
}

#rightInfo {
	float: right;
}

#board_views {
	margin-right: 20px;	
}

#contentsWrap {
	width: 95%;
	margin: 60px auto 100px;
}

#board_likes {
	display: block;
	width: 50px;
	height: 60px;
	line-height: 30px;
	margin: 20px auto 80px;
	color: #000;
	text-decoration: none;
	border: 2px solid #f2f2f2;
}
#board_likes span {
	display: block;
	text-align: center;
}

#contentsList {
	display: block;
	width: 70px;
	padding: 3px;
	text-align: center;
	border: 1px solid #000;
	text-decoration: none;
	color: #000;
	margin-left: auto;
	margin-right: 20px;
}

#ad1 {
	position: relative;
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	width: 100%;
	height: 180px;
	background: url(../img/ad1.png) center -55px / cover;
	margin:50px 0;
}
#download {
	position: absolute;
	display: block;
	bottom: 41px;
	right: 295px;
	width: 184.57px;
	height: 71.42px;
	background: url(../img/down.png) center center / cover;
	z-index: 1;
}

#comments {
	color: #888;
}
#comments span:nth-of-type(1){
	font-size: 20px;
	font-weight: bold;
	color: #000;
	margin-right: 5px;
}

#comments span:nth-of-type(2){
	font-weight: bold;
	color: green;
}